{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Classify</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "classify/style.css" %}"/>
</head>
<body>

{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}

<div class="alert alert-info" style="margin-bottom: 0">
    <strong>Info!</strong> This website use <a href="https://www.cs.toronto.edu/~kriz/cifar.html">CIFAR10</a> dataset,
    for more accuracy please use this dataset categories.
</div>

<form action="{% url 'users:logout' %}" method="post">{% csrf_token %}
    <button class="button-5" role="button" type="submit">Logout</button>
</form>

<h1>TensorFlow</h1>
<div id="tensor-form">
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <p>
            <label for="id_image">Image:</label>
            <input type="file" name="image" accept="image/*" required="" id="id_image">
        </p>

        <button class="button-68" role="button" type="submit">submit</button>
    </form>
</div>

<div id="output-div">

    {% if title %}
        <h3 id="output">output:</h3>
        <h4 id="title">Predict: {{ title }}</h4>
        <img src="{{ image.image.url }}" alt="image" width="450" height="300">
    {% endif %}
</div>
</body>
</html>