{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" rel="stylesheet" href="{% static 'users/css/bootstrap.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "users/css/style.css" %}"/>
    <script src="{% static 'users/js/script.js' %}"></script>
</head>
<body>

{% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}

<div id="buttons-index">
    <h1>Welcome to our website</h1>
    <br>
    <a id="sign" class="button-53" role="button">Sign Up</a>
    <a id="log" class="button-53" role="button">Log In</a>
</div>

<div id="log-form" style="display: none">
    <h2>Log In</h2>
    <form action="{% url 'users:login' %}" method="POST" class="post-form">{% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                   maxlength="150" required="" id="id_username">

        </p>

        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" autocomplete="current-password" required="" id="id_password">

        </p>

        <button id="button-32" role="button" type="submit" class="save btn btn-default">Log In</button>
    </form>
</div>

<div id="sign-form" style="display: none">
    <h2>Sign Up</h2>
    <form action="{% url 'users:register' %}" method="POST" class="post-form">{% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
        </p>


        <p>
            <label for="id_password1">Password:</label>
            <input type="password" name="password" autocomplete="new-password" required="" id="id_password1">

            <span class="helptext"></span></p>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>

        <p></p>

        <p>
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="confirm_password" autocomplete="new-password" required="" id="id_password2">

            <span class="helptext">Enter the same password as before, for verification.</span>


        </p>

        <button id="button-31" role="button" type="submit">Sign Up</button>
    </form>
</div>

</body>
</html>